*{
    padding: 0;
    margin: 0;
}
/* This is a section 1*/
.head{
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
    font-family: 'Poppins', sans-serif;

}
/* This is a div 1 with navigation links logo n button of get started*/
.header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;

}
.head .header ul{
    display: flex;
    list-style-type: none;
    margin: 15px;
    box-sizing: border-box;
    
}
.head .header a{
    justify-content: space-between;
    
    text-align: center;
}
.header ul li a{
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: #85929f;
    width: 25%;
    justify-content: space-between;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.head .header ul li a:hover{
    background-color: rgb(26, 85, 153);
}
.head .header ul li{
    justify-content: space-between;

}
.head .header .logo1{
    box-sizing: border-box;
    text-decoration: none;
    font-size: 25px;
    color: #454c53;
    margin: 15px;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.head .header .logo1 span{
    color: aqua;
}
.head .logo1 span{
    color: #0ea2bd;
    font-size: 32px;
    font-weight: 500px;
}
.head .header .start{
    margin: 15px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #0ea2bd;
    transition: 0.3s;
    border-radius: 4px;
    text-align: center;
    padding: 10px 23px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}
.head .header .start:hover{
    background-color: #0dcaf0;
}
.head .transparent-image{
   width: 100%;
   height: 650px;
   display: block;
}
.head .svg-img{
    position: absolute;
    bottom: 600px;
    left: 687px;
    width: 30%;
    margin: 0;

}


/* Body Start */
.banner {
    background: url(./image/hero-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner h2{
    padding-top:80px;
    font-size: 39px;
}
.banner h2 span{
    color:#0ea2bd;

}
.banner p {
    padding: 30px 0;
    color: #485664;
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;
}

/*---------------header2 the second div of 1st section---------------*/
.header2{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.header2 h2{
  position: absolute;
  bottom: 490px;
  left:740px;
  font-weight: 300;
  font-size: 48px;
  color: #485664;
  

}
.header2 h2 span{
    color: #0ea2bd;
}
.header2 p{
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px 0;
    position: absolute;
    bottom: 430px;
    left: 480px;
    color: #485664;
    opacity: 0.8;
    font-family: 'roboto', sans-serif;
    letter-spacing: 1px;
}
/*-------------3rd div contains get started, watch video buttons--------------*/

/*.header2 .start{
    position: absolute;
    left:768px;
    bottom:180px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #0ea2bd;
    transition: 0.3s;
    border-radius: 4px;
    text-align: center;
    padding: 10px 23px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    box-sizing: border-box;
}
.header2 .start:hover{
    color: #0dcaf0;
}

.header2 .watch-vdo{
    font-size: 16px;
    color: #485664;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    opacity: 10;
    cursor: pointer;
}
.header2 .watch-vdo:hover{
    color:#0dcaf0;
}
/* .header2 .far::before{
    display: inline-block;
    line-height: 1;
    box-sizing: border-box;
    color: #0ea2bd;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
} */
.watch-vdo i {
    color: #0ea2bd;
    font-size: 32px;
}
/*.header .far:hover{
    color: #0dcaf0;
}
.header2 .watch-vdo .far{
    margin-right: 8px;
    font-size: 32;
    transition: 0.3s;
}
*/

.header3{
    width: 100%;
    gap: 6px;
    align-items: center;
    display: flex;
    justify-content: center;
    
    
}
.header3 .start{
    text-decoration: none;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: #0ea2bd;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 4px;
    text-align: center;
    padding: 10px 23px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;

}
.header3 .start:hover{
    color: #0dcaf0;
}
.header3 .watch-vdo{
    text-decoration: none;
    font-size: 16px;
    color: #485664;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 4px;
    text-align: center;
    padding: 10px 23px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    opacity: 10;
    align-items: center;
    display: flex;
}
.header3 .watch-vdo:hover,
.header3 .watch-vdo:hover{
    color: #0dcaf0;

}
.header3 .watch-vdo i{
    font-size: 32px;

}
.header3 .watch-vdo span{
    font-weight: 600;
    font-size: 16px;
    padding-left: 5px;
}
/* the second section started with background image..... */
/* row1 and first-col div..... */

.container-row1{
    width: 100%;
    margin: auto;
    box-sizing:border-box;
    padding: 40px 210px;
}
.container-col{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 80px;

}
.first-col{
    flex-wrap: wrap;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    line-height: 2;
}
.first-col h2{
    color: #495057;
}
.first-col p{
    font-size: 14px;
    line-height: 24px;
    color: #6c757d;
    font-family: 'poppins', sans-serif;
}
.first-col i{
    font-size: 32px;
    color: #0ea2bd;
}
.first-col:hover{
    box-shadow: 0 0 5px 0 rgb(166, 169, 212);
    transition: 0.3s;
}
.first-col:hover{
    bottom: 49%;
    cursor: pointer;
}
.about1{
    width: 100%;
    padding: 60px 0;
}
.container-about{
    box-sizing: border-box;
    display: block;
    padding: 0 80px;
}
.container-about h2{
    font-size: 48px;
    font-weight: 300;
    padding-bottom: 20px;
    color: #485664;
    text-align: center;
}
.container-about p{
    color: #8f9fae;
    box-sizing: border-box;
    text-align: center;
    padding: 0 100px;
    display: block;
}
/*----------------------------------need currection from row---------------------------------*/
.about-row{
    padding-top: 100px;
    align-items: center;
}
.about-col{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}
.about-bg .about-transparent{
    z-index: -1;
    overflow: hidden;
    max-width: 100%;
    width: 15%;
    position: absolute;
    left:135px;
    top:1542px;
}
.about-bg .about-background{
    z-index: 2;
    max-width: 100%;
    width: 85%;
    left:75px;
      
}
.about-bg{
    width: 40%;
}
.about-nav{
    width: 60%;
}
.about-nav h2{
    font-size: 32px;
    color: #485664;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    opacity: 0.9;
    padding-bottom: 35px;
}
.about-nav ul{
    border-bottom: 1px solid #8f9fae;
    padding-bottom: 20px;
    opacity: 0.9;
}

.about-nav ul li{
    display: contents;
    padding-bottom: 10px;
}
.about-nav ul li a{
    text-decoration: none;
    box-sizing: border-box;
    color:#6c757d;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
}
.about-nav .about-ul .list a{
    padding-left: 40px;

}
.about-nav .about-ul li a:hover{
color: #0ea2bd;
}
.nav-right-content{
   padding-top: 10px;
   font-family: 'Roboto', sans-serif;
   color: #495057;
   font-size: 15px;
}
.nav-right-content p{
    padding-bottom: 20px ;
    color: #495057;
    opacity: 0.8;
}
.right-content h2{
    font-weight: 500;
    font-size: 20px;
    color: #2e3236;
    letter-spacing: 0.1px;
    opacity: 0.9;
    padding-top: 10px;
}

.right-content p{
    opacity: 0.7;
}
.fa-solid{
    color: #0ea2bd;
}
.clients{
    padding:40px 0;
    overflow: hidden;
}
.clients-container{
    padding-left: 190px;
    padding-top: 70px;
    display: flex;
    align-content: center;
    align-items: center;

}
.clients-container img{
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    width: 38%;
    vertical-align: middle;
}
.call-to-action{
    margin-bottom: 60px;
    padding-top: 100px;
}
.cta0{
    padding: 0 300px;
}
.cta-row{
    display: flex;
    background-color: #dee2e6;
    box-sizing: border-box;
    border-radius: 20px;
}

.cta-row .cta-1{
    text-align: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
}
.cta-2 img{
    max-width: 100%;
    width: 80%;
    box-sizing: border-box;
    border-radius: 10px;
}
.cta-2{
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 15px;
}
.cta-1 h2{
    font-size: 40px;
    text-align: left;
    color: #495057;
    font-family: 'poppins', sans-serif;
    font-weight: 800;
    padding-left: 80px;
}
.cta-1 p{
    font-size: 20px;
    color: #495057;
    padding-left: 80px;
    text-align: left;
    padding-bottom: 35px;
}
.cta-1 .cta-btn a{
    text-decoration: none;
}
.cta-1 .cta-btn{
    margin: 15px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #0ea2bd;
    transition: 0.3s;
    border-radius: 4px;
    text-align: center;
    padding: 10px 23px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    position: absolute;
    left: 365px;
    
}
.focus{
    
    padding-top: 100px;
    padding-bottom: 30px;
}
.container-focus{
    padding: 0;
}
.focus-row{
    display: flex;
    background-color: #dee2e6;
    box-sizing: border-box;
}

.focus-1{
    background: url(./image/onfocus-video-bg.jpg);
    box-sizing: border-box;
    max-width: 100%;
    width: 50%;
    padding: 260px 0;
}
.focus-2{
    box-sizing: border-box;
    max-width: 100%;
    width: 50%;
    background: url(./image/onfocus-content-bg.jpg);
    background-color: rgba(9, 59, 105, 0.64);
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0.8;
    font-family: 'poppins', sans-serif;
    line-height: 50px;
}
.focus-2-content{
    padding: 70px;
}
.focus h2{
    color: #fff;
    font-size: 30px;
}
.focus p{
    color: #fff;
    font-weight: 100;
}
.focus-2 ul li{
    list-style-type: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.focus-2 ul li i{
    font-size: 20px;
    font-weight: 100;
    color: #0ea2bd;
}
.focus-2-content a{
    margin: 15px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #0ea2bd;
    transition: 0.3s;
    border-radius: 4px;
    text-align: center;
    padding: 0.1px 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    position: absolute;
    left: 1020px;
    margin: 2px;
    font-family: 'poppins' sans-serif;
}
.focus-2-content i{
    color: #fff;
    padding-left: 2px;
}
.map{
    padding: 0;
}
.contact-map{
    padding:50px 0;
}
.contact-us-map{
    text-align: center;
    padding-bottom: 2px;
}
.contact-us-map h2{
    font-size: 40px;
    color:#3e4347;
    font-weight: 100;
    font-family: 'poppins' sans-serif;
    padding-bottom: 40px;

}
.contact-us-map p{
    font-size: 20px;
    color: #6c757d;
    opacity: 0.7;

}
.map1{
   padding: 0;
}
.map-link{
    max-width: 100%;
    width: 100%;
    height: 600px;
}
.form-details{
    padding: 0 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.form-part{
    max-width: 100%;
    display: flex;
    padding-top: 70px;
    padding-left: 98px;
}
.form-col1{
   max-width: 100%;
   width: 23.5%;
   padding: 0 40px;
   box-sizing: border-box;
   padding-top: 40px;
   padding-bottom: 70px;
   box-shadow: 0px 1px 15px #b8c1c9;
}
.col1-left{
    padding-bottom: 20px;
}
.col1-left h2{
    font-size: 24px;
    font-weight: 600;
    color: #2e3236;
    padding-bottom: 15px;
}
.col1-left p{
    font-size: 17px;
    color: #8f9fae;
    line-height: 1.2;
}
.form-col2{
    max-width: 100%;
    width: 60%;
}
.icon{
    display: flex;
    align-items: center;
}
.location{
    padding-top: 15px;
}
.location h2{
        font-size: 20px;
        font-weight: 600;
        color: #4c5157;
}
.location p{
        font-size: 15px;
        color: #8f9fae;
}
.map-icon{
    font-size: 20px;
    padding-right: 7px;
}
.map-icon i{
    padding-right: 5px;
    align-items: center;
}
.email{
    padding-top: 25px;
    align-items: center;
    display: flex;
}
.email i{
    font-size: 20px;
    color: #0ea2bd;
    padding-right: 10px;
    border-width: 20px;
}
.email h2{
        font-size: 20px;
        font-weight: 600;
        color: #4c5157;
}
.email p{
        font-size: 15px;
        color: #8f9fae;
}
.phone{
    display: flex;
    padding-top: 15px;
    align-items: center;
}
.phone i{
    color: #0ea2bd;
    font-size: 20px;
    padding-right: 10px;
}
.phone h2{
    font-size: 20px;
    font-weight: 600;
    color: #4c5157;
}
.phone p{
    font-size: 15px;
    color: #8f9fae;
}
.form-col2{
    padding-left: 70px;
    padding-right: 50px;
}
.form-left{
    box-sizing: border-box;
}
.name-email{
    display: flex;
}
.name-box{
    max-width: 100%;
    width: 50%;
}
.email-box{
    max-width: 100%;
    width: 50%;
    box-sizing: border-box;
    border-top: 20px;
}
.massage{
    padding-bottom: 20px;
}
.send-massage{
    max-width: 100%;
    width: 88%;
    align-items: center;
    padding-top: 30px;
    text-align: center;

}
.send-massage a{
    align-items: center;
}
.message-btn{
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #0ea2bd;
    transition: 0.3s;
    border-radius: 4px;
    text-align: center;
    padding: 10px 23px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;

}
.footer{
    padding: 0;
    background-color: #485664;
}
.footer-content{
    padding: 60px 0 30px 0;
}
.footer-container{
    padding: 0 300px;
}
.footer-row{
    display: flex;
    justify-content: space-between;
    color: #fcf7f7;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
.col11 h2{
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 15px;
}
.col11 p{
    font-size: 15px;
}
.col22 ul li{
    list-style-type: none;
}
.col22 ul li a{
    text-decoration: none;
    color: #b8c1c9;
}
.col33 ul li{
    list-style-type: none;
}
.col33 ul li a{
    text-decoration: none;
    color: #b8c1c9;
}
.fa-solid{
    color: #fff;
    font-size: 10px;
    opacity: 0.6;
}
.subscribe{
    box-sizing: border-box;
}
.subscribe-form{
    padding: 0;
}
.subscribe-container{
    display: flex;
    max-width: 100%;
}
.subscribe-email{
    border-radius: 2px 0;
}
/*
.focus{
    padding-left: 5px 0;
}
.container-focus{
    width: 100%;
    display: flex;
}
.focus-row{
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
}
.focus-col1{
    max-width: 100%;
    width: 50%;
    box-sizing: border-box;
    background: url(./image/onfocus-video-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 100px;
    
    align-items: center;
}

.focus-col2{
    max-width: 100%;
    width: 50%;
}
.focus-right ul li{
    list-style-type: none;
}

.focus-col2{
    max-width: 100%;
    width: 50%;
    box-sizing: border-box;
    background: url(./image/onfocus-content-bg.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 100px;
    flex-direction: column;
    align-items: center;
}
.focus-right{
    text-align: left;
}
.focus-right h2{
    font-size: 32px;
    font-weight: 600;
    color: #fff;

}
.focus-right-content{
    position: relative;
}
*/